/* SourceSansRegular */
@font-face {
    font-family: 'SourceSans';
    src: url('fonts/sourcesans-regular-webfont.eot');
    src: url('fonts/sourcesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesans-regular-webfont.woff') format('woff'),
         url('fonts/sourcesans-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesans-regular-webfont.svg#SourceSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* SourceCodeRegular */
@font-face {
    font-family: 'SourceCodePro-Regular';
    src: url('fonts/sourcecodepro-regular-webfont.eot');
    src: url('fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcecodepro-regular-webfont.svg#SourceSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_pro_blackregular';
    src: url('fonts/sourcesanspro-black-webfont.eot');
    src: url('fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-black-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-black-webfont.svg#source_sans_pro_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_blackitalic';
    src: url('fonts/sourcesanspro-blackit-webfont.eot');
    src: url('fonts/sourcesanspro-blackit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-blackit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-blackit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-blackit-webfont.svg#source_sans_pro_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('fonts/sourcesanspro-boldit-webfont.eot');
    src: url('fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-boldit-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_extralightRg';
    src: url('fonts/sourcesanspro-extralight-webfont.eot');
    src: url('fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-extralight-webfont.svg#source_sans_pro_extralightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_extralightIt';
    src: url('fonts/sourcesanspro-extralightit-webfont.eot');
    src: url('fonts/sourcesanspro-extralightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-extralightit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-extralightit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-extralightit-webfont.svg#source_sans_pro_extralightIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('fonts/sourcesanspro-it-webfont.eot');
    src: url('fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-it-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_lightregular';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_lightitalic';
    src: url('fonts/sourcesanspro-lightit-webfont.eot');
    src: url('fonts/sourcesanspro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-lightit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-lightit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-lightit-webfont.svg#source_sans_pro_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_semiboldRg';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_pro_semiboldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_pro_semiboldIt';
    src: url('fonts/sourcesanspro-semiboldit-webfont.eot');
    src: url('fonts/sourcesanspro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semiboldit-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semiboldit-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semiboldit-webfont.svg#source_sans_pro_semiboldIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;

	font-family: "AdobeClean-Light","source_sans_pro_lightregular";
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: #CCCCCC;

	background-color: #000000;
	background-image: url("bg.png");
	background-position: center bottom;
	background-repeat: repeat-x;

	

}

.reveal code{
	font-family: 'SourceCodePro-Regular', monospace;
	
}

em{
	font-style: italic;
	font-family: "AdobeClean-LightIt",'SourceSans' ;
}

figure{
	display: inline-block;
	max-width: 300px;
	margin: 20px;
}

.blackout .state-background {
	background-image: url("grid.png");
	background-position: center bottom;
	background-repeat: repeat-x;

}

.blackout strong{
	color: #FFFFFF;
	font-weight: normal;
}

.blackout p{
	color: #5A90FF;
}

.reveal section img.transparent{
	border: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
	font-weight: normal;
	margin: 0 0 20px 0;
	font-family: "AdobeClean-SemiCn", "source_sans_pro_semiboldRg", sans-serif;
	line-height: 1.2em;
	color: #CCCCCC;
	text-align: center;

}



.reveal h1 strong, 
.reveal h2 strong, 
.reveal h3 strong, 
.reveal h4 strong, 
.reveal h5 strong, 
.reveal h6 strong{
	font-family: "AdobeClean", "source_sans_pro_semiboldRg", sans-serif;
	font-weight: bold;
	color: #FFFFFF;

}

.reveal h1
{
	text-transform: uppercase;
	letter-spacing: -.02em;
}

.reveal p{
	text-align: left;
}

.reveal pre{
	width: 100%;
}

.reveal ul,.reveal ol{
	width: 100%;
}

.reveal li{
	margin-bottom: 20px;
}

.reveal img, .reveal a img{
	text-align: center;
	margin: 0 auto;
}

.reveal .demo h2{
	display: inline-block;
	width: 30%;
}
.reveal .demo h3{
	width: 65%;
	text-align: right;
	display: inline-block;
	color: #FFFFFF;
}

.question h1
{
	text-align: center;
	text-transform: none;
}

.reveal figcaption h4{
	text-align: center;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
	color: #5A90FF;
	text-decoration: none;

	-webkit-transition: color .15s ease;
	   -moz-transition: color .15s ease;
	    -ms-transition: color .15s ease;
	     -o-transition: color .15s ease;
	        transition: color .15s ease;
}
	.reveal a:not(.image):hover {
		border: none;
		border-radius: 2px;
	}

.reveal .roll span:after {
	color: #fff;
	background: #5A90FF;
}

/*********************************************
 * MISC
 *********************************************/

.reveal section img {
	margin: 30px 0 0 0;
	background: rgba(255,255,255,0.12);
	border: 1px solid #ddd;
	
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

	.reveal a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: #3b759e;
		
		-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
		        box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}

.reveal blockquote {
	background-color: #dddddd;
	color: #000000;
	border: 1px solid  #5A90FF;
}

.reveal p {
	margin-bottom: 20px;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls a {
	color: #fff;
}
	.reveal .controls a.enabled {
		color: #3b759e;
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: #3b759e;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}


.reveal .roll {

}

.title{
	font-family:  "AdobeClean-SemiCn", "source_sans_pro_semiboldRg", sans-serif;

}

.title h1, .title h2{
	text-align: center;
	color: #FFFFFF;
}

.title h1{
	
	font-size: 2.5em;
}

.title h2{
	font-size: 2em;
	font-family: "AdobeClean-Light","source_sans_pro_lightregular";
}

.reveal .title p{
	text-align: center;
	font-size: 1.5em;
	color: #FFFFFF;
	font-weight: normal;
	vertical-align: middle;

}

.reveal .title  a:not(.image){
	color: #FFFFFF;
}


.question h1{
	text-align: center;
}
.question p{
	text-align: center;
	font-size: .9em;
}

.adobelogo{
	border: none;
	position: fixed;
	top: 0;
	right: 100px;

}



.reveal .product-intro{
	text-align: left;

}

.reveal .product-intro .text-holder{
	display: inline-block;
	width: 12em;
	padding-left: 20px;
	vertical-align: top;
	margin-top: 80px;
}

.reveal .product-intro p{
	text-shadow: 2px 2px 3px #555555;
}

.reveal .product-intro h1{
	font-size: 1.2em;
	text-align: left;
	text-transform: none;
	font-family: "AdobeClean-Light", "source_sans_pro_lightregular", sans-serif;

}

.reveal .product-intro p{
	font-size: 1.5em;
}

.reveal section h1.text-inspect{
	color: rgb(253,171,72);
}

.reveal section h2.text-inspect{
	color: rgb(253,171,72);
}

.reveal section h3.text-inspect{
	color: rgb(253,171,72);
}

.reveal section h1.text-pg{
	color: rgb(158,218,225);
}

.reveal section h2.text-pg{
	color: rgb(158,218,225);
}

.reveal section h3.text-pg{
	color: rgb(158,218,225);
}

.reveal section h1.text-brackets{
	color: #5A90FF;
}

.reveal section h2.text-brackets{
	color: #5A90FF;
}

.reveal section h3.text-brackets{
	color: #5A90FF;
}

.reveal section h1.text-code{
	color: rgb(82,222,198);
}

.reveal section h2.text-code{
	color: rgb(82,222,198);
}

.reveal section h3.text-code{
	color: rgb(82,222,198);
}

.reveal section h1.text-reflow{
	color: rgb(97,220,254);
}

.reveal section h2.text-reflow{
	color: rgb(97,220,254);
}

.reveal section h3.text-reflow{
	color: rgb(97,220,254);
}

.reveal section h1.text-wf{
	color: rgb(254,205,71);
}

.reveal section h2.text-wf{
	color: rgb(254,205,71);
}

.reveal section h3.text-wf{
	color: rgb(254,205,71);
}

.reveal section h1.text-dw{
	color: rgb(172,238,41);
}

.reveal section h2.text-dw{
	color: rgb(172,238,41);
}

.reveal section h3.text-dw{
	color: rgb(172,238,41);
}


.reveal section h1.text-cc{
	color: rgb(255,0,0);
}

.reveal section h2.text-cc{
	color: rgb(255,0,0);
}

.reveal section h3.text-cc{
	color: rgb(255,0,0);
}

.reveal section h1.text-an{
	color: rgb(178,170,252);
}

.reveal section h2.text-an{
	color: rgb(178,170,252);
}

.reveal section h3.text-an{
	color: rgb(178,170,252);
}

.reveal section h1.text-typekit{
	color: rgb(157,193,68);
}

.reveal section h2.text-typekit{
	color: rgb(157,193,68);
}

.reveal section h3.text-typekit{
	color: rgb(157,193,68);
}
.text-typekit{
	color: rgb(157,193,68);
}

.reveal .demo h2{
	color: #FFFFFF;
}

.reveal .keynote-intro p{
	text-align: center;

}
.reveal .keynote-intro h3{
	font-family: "AdobeClean-Light", "source_sans_pro_lightregular", sans-serif;

}

.reveal .keynote-edge h1{
	font-family: "AdobeClean-Light", "source_sans_pro_lightregular", sans-serif;
	font-size: 1.7em;
	text-transform: none;
}

.reveal .speakers h1{
	font-family: "AdobeClean-Light", "source_sans_pro_lightregular", sans-serif;
	font-size: 2em;
	font-variant: small-caps;
	text-transform: none;
	text-align: left;
	margin-bottom: 10px;
	padding-top: 20px;
}

.reveal .speakers p{
	margin-top: 10px;
}

.reveal .speakers img{
	float: left;
	margin-top: 0;
	margin-bottom: 20px;
	margin-right: 20px;
}

.reveal .speakers .speaker{
	clear: both;
}

#twitter-call{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size:25px;
	text-shadow: 2px 2px 2px #000;
	line-height: 1;
}
#twitter-call p{
	margin: 0;
}

.reveal img.tpng{
	border: none;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.reveal div.column{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	margin-right: 25px;
}


